
data/data_cleanup.ipynb
data/dont_upload/world_1945.json
data/dont_upload/world_1994.json
data/dont_upload/world_1960.json
data/dont_upload/world_1938.json
data/dont_upload/world_1920.json
data/dont_upload/world_1914.json
data/dont_upload/world_1815.geojson.txt
data/dont_upload/world_1800.json
data/dont_upload/world_1880.geojson.txt
data/dont_upload/world_1914.geojson.txt
data/dont_upload/world_1815.json
data/dont_upload/world_1800.geojson.txt
data/dont_upload/world_1783.json
data/easternEurope.geojson
data/dont_upload/world_1715.json
data/dont_upload/world_1715.geojson.txt
data/dont_upload/journey.json
data/dont_upload/countries_allyears.geojson
data/dont_upload/world_1783.geojson.txt
index.html
js/images/jeanette.jpg
js/dont_upload/underscore.js
js/dont_upload/horodetz.json
OLD/css/leaflet.css
OLD/css/reset.css
OLD/css/style.css
OLD/etc/.gitattributes
OLD/etc/css/index.css
OLD/etc/js/index.js
OLD/etc/js/leaflet.js
OLD/etc/js/jquery-2.2.0.js
OLD/etc/css/normalize.css
OLD/etc/js/slides.js
OLD/etc/New folder/js/data.js
OLD/etc/New folder/js/index.js
OLD/etc/New folder/js/slides.js
OLD/etc/New folder/JSmidterm_data_cleaning.R
OLD/js/images/layers-2x.png
OLD/etc/README.md
OLD/js/images/layers.png
OLD/js/images/marker-icon-2x.png
OLD/js/images/marker-icon.png
OLD/js/images/marker-shadow.png
OLD/README.md
README.md
OLD/js/underscore.js
OLD/js/underscore.js
OLD/js/main.js
OLD/js/jquery-2.2.0.js
OLD/js/leaflet.js
.Rhistory
intro_page.html
data/dont_upload/world_1880.json
